<p-toast key="top-right" position="top-right" [baseZIndex]="5000"></p-toast>
<p-toast key="top-left" position="top-left" [baseZIndex]="5000"></p-toast>
<p-toast key="top-center" position="top-center" [baseZIndex]="5000"></p-toast>
<p-toast key="bottom-right" position="bottom-right" [baseZIndex]="5000"></p-toast>
<p-toast key="bottom-left" position="bottom-left" [baseZIndex]="5000"></p-toast>
<p-toast key="bottom-center" position="bottom-center" [baseZIndex]="5000"></p-toast>
<p-toast key="center" position="center" [baseZIndex]="5000"></p-toast>
<p-confirmDialog [baseZIndex]="5000"></p-confirmDialog>
<router-outlet></router-outlet>
