<form #form="ngForm">
<div class="container-fluid" style="width: 70%;">
<div class="row">

<div class="col-md-3">
    <i class="far fa-user" style="margin-right: 6px;"></i><b>Welcome  {{user.firstName}},</b>
    <button tabindex="1" style="margin-left:6px;" (click)="logOut()" type="button" class="btn btnMainColor" >
    <i class="fas fa-sign-out-alt"></i>
</button>

<p-panelMenu [model]="items" ></p-panelMenu>

<span style="font-size: 10px; margin: 10px; text-align: center" class="test copyrightColor"><a
  style="text-decoration: none !important" class="copyrightColor" target="_blank"
  href="http://www.furkanalniak.com/">FURKAN ALNIAK</a> </span>
        </div>

  <div class="col-md-9" style="padding-top: 30px">

  <app-create-todo-list *ngIf="isCreateList"></app-create-todo-list>
  <app-see-todo-list *ngIf="isSeeLists"></app-see-todo-list>
  <app-create-todo-item *ngIf="isCreateItem"></app-create-todo-item>
  <app-see-todo-item *ngIf="isSeeItems"></app-see-todo-item>
  <app-user-settings *ngIf="isUserSettings"></app-user-settings>

  </div>
  </div>
  </div>
</form>
